
/* General
------------------------------------------------------- */

input, textarea
	:disabled
		background-color: #eee
		opacity: .66

.pw_countdown extends .plainbox
	margin: 0 14px 5px

/* Styles for the admin quick search.
------------------------------------------------------- */
#quick_search
	padding: 8px
	line-height: 20px
	form
		float: right
		padding: 18px 0 0 12px
		font-size: 0.8em !important

.search_results li
	padding: 1em
	border-bottom: 1px solid #ccc

/* Styles for the admin home screen bar.
------------------------------------------------------- */
#admin_main_section
	overflow: hidden
	margin: 1em 0

#version_details
	margin: 1em 0

.admin_item mixes .inline-block
	width: 100px
	font-size: 85%
	text-align: center
	vertical-align: top

#wedge_news
	overflow-y: auto
	max-height: 15em
	margin: 1em 0
	dt
		padding: 5px 0
		border-bottom: 1px dotted #666
		:first-child
			padding: 0 0 5px
		:last-child
			padding: 5px 0 0
			border-bottom: 0
	dd
		font-size: 8pt
		line-height: 1.25
		padding: 0
		margin: 1em

#update_section
	display: none
	margin: 0.5em 0 0

#quick_tasks
	&, ul
		margin, padding: 0
	li
		float: left
		list-style-type: none
		margin: 0
		padding: 0.5em 0
		width: 49.5%
		height: 4.5em

.quick_task
	display: block
	width: 100%
	margin: 0 1em
	padding: 0

.home_image
	float: left
	margin: 0 1em 1em 1em

#yourVersion, #wedgeVersion
	white-space: nowrap

#admin_intro
	margin-top: 12px

/* Plugin manager goodies
------------------------------------------------------- */
.plugin_item extends .admin_item
	width: 40px

.plugin_error
	max-width: 40%
	margin-left: 0.5em

.plugin_auth mixes .inline-block
	margin-left: 2px
	margin-top: 1px
	width: 16px
	height: 16px
	background: raw-url($images/admin/members.gif) no-repeat

.plugin_from mixes .inline-block
	float: left
	vertical-align: bottom
	font-size: .9em
	width: 33%

/* Newsletters need some love too.
------------------------------------------------------- */
.newsletter
	.people mixes .inline-block
		width: 12px
		height: 14px
		background: raw-url($images/admin/members.gif) no-repeat
	.posts mixes .inline-block
		width: 12px
		height: 14px
		background: raw-url($images/admin/posts.gif) no-repeat

/* Common admin center classes.
------------------------------------------------------- */
#admin #main
	hr
		margin: 10px 0
	.menu hr
		margin: 0

#amen img
	vertical-align: middle

.title form final
	font-size: 80%

.title .help final
	vertical-align: -1px

.windowbg ol
	margin-top, margin-bottom: 0

.table_caption, tr.table_caption td
	color: #000
	font-size: 10px
	font-weight: 700

.additional_row div.floatleft
	padding: 0 0.8em

fieldset dl
	margin: 0

.information a
	font-weight: 700

.disabled
	color: #777


/* Styles for the file permissions section.
------------------------------------------------- */
.filepermissions
	font-size: 0.8em
	white-space: nowrap

.fperm
	display: block
	width: 35%
	text-align: center

.perm_read
	background-color: #d1f7bf

.perm_write
	background-color: #ffbbbb

.perm_execute
	background-color: #fdd7af

.perm_custom
	background-color: #c2c6c0

.perm_nochange
	background-color: #eee


/* Styles for the BBC permissions
------------------------------------------------- */
.list_bbc
	width: 33%


/* Styles for the manage membergroups section.
------------------------------------------------- */
#groupForm
	td
		padding: 4px
	span.everything
		border-bottom: 1px dotted #000
		cursor: help
	tr.board_cat
		background-color: $window_bg
		font-weight: 700
	tr.div
		height: 14px

#sortable
	clear: both
	list-style-type: none
	width: 80%
	margin, padding: 0
	li
		border: 1px dotted gray
		border-left: 0
		margin: 4px
		padding: 10px
		cursor: default
		position: relative
		.handle
			width: 10px
			background: #ddd
			background: linear-gradient(90deg, #bbb 0px, transparent 1px, transparent 3px)
			background-size: 4px 10px
			position: absolute
			left, top, bottom: 0
			cursor: n-resize
		.sortme
			float: left
			display: inline-block
			margin-left: 12px
			min-width: 200px
		.badge
			float: left
			display: inline-block
			min-width: 150px
			img
				margin: 0


/* Styles for the manage boards section.
------------------------------------------------- */
#manage_boards
	ul
		padding: 0
		margin: 0 0 0.6em 0
		max-height: 30em
		overflow: auto
	li
		list-style-type: none
		border-bottom: 1px dotted #8a8d92
		padding: 0.2em
		margin: 1px
		clear: right
	li img
		vertical-align: middle
		padding-bottom: 3px
	#recycle_board
		background-color: #dee
	span.post_group, span.regular_members, span.everyone
		border-bottom: 1px dotted #000
		cursor: help
	tr.everyone td
		padding-bottom: 14px

#manage_boards_list
	ul.sortable
		margin: 1em 0
		padding: 0
		ul
			padding: 0 0 0 25px
	li
		list-style-type: none
		margin: 5px 0 0 0
		div.windowbg, div.windowbg2
			border: 1px dotted gray
			border-left: 0
			padding: 10px 10px 10px 22px
			position: relative
			.handle extends #sortable li .handle // Only want the handle, not the whole thing.
				cursor: move
		.modify_board mixes .button-padding
			background: raw-url($images/buttons/modify.gif) 5px center no-repeat
		.perms_board mixes .button-padding
			background: raw-url($images/buttons/permissions.png) 5px center no-repeat
		.floatright
			margin: 0 4px
	.sortable_error
		background: #fbe3e4
	.placeholder
		outline: 1px dashed #4183C4

.move_links
	padding: 0 13px 0 0

.modify_boards
	padding: 0 0.5em

#sbboardskin, #sbboardskin_mobile
	font-family: $mono_font

/* Styles for the manage members section.
------------------------------------------------- */
.msearch_details
	display: block
	width: 49%
	dl
		dt
			text-align: right
			padding-right: 10px
		dd
			width: 50%


/* Styles for the manage maintenance section.
------------------------------------------------- */
.maintenance_finished, #task_completed
	margin: 1ex
	padding: 1ex 2ex
	border: 1px dashed green
	color: green
	background: #efe


/* Styles for the manage search section.
------------------------------------------------- */
dl.settings
	dt.small_caption
		width: 20%
	dd.small_caption
		width: 79%
	dt.large_caption
		width: 70%
	dd.large_caption
		width: 29%


/* Styles for the manage permissions section.
------------------------------------------------- */
dl.admin_permissions
	dt
		width: 35%
	dd
		width: 63%


/* Styles for the manage search section.
------------------------------------------------- */
span.search_weight
	width: 40px
	padding: 0 0.5em
	text-align: right
	display: inline-block

.search_settings
	width: 45%


/* Styles for the manage bans section.
------------------------------------------------- */
.ban_restriction
	margin: 0.2em 0 0.2em 2.2em

.ban_settings
	width: 46%

#manage_bans
	dl
		margin-bottom: 1em
	fieldset dl.settings
		margin-bottom: 0


/* Styles for the manage subscriptions section.
------------------------------------------------- */
#fixed_area
	width: 97%

ul.pending_payments
	margin, padding: 0
	li
		list-style-type: none


/* Styles for the manage permissions section.
------------------------------------------------- */
.perm_name, .perm_profile, .perm_board
	display: block
	width: 40%

.perm_boards
	padding: 0
	margin: 0 0 0.6em 0
	li
		list-style-type: none
		border: 1px solid #cacdd3
		padding: 0.2em
		margin: 1px

.perm_groups
	background-color: #fff

.perm_classic
	margin: 0.2em

.permission_groups
	margin, padding: 0
	li
		list-style-type: none
		padding: 0.2em
		margin: 1px

.perms
	width: 20px
	display: inline-block
	text-align: center


/* Styles for manage member options.
------------------------------------------------- */
input.membopt
	margin-left: 1em
	opacity: 0
	transition: opacity .5s ease

dl.settings dd.memberopt:hover
	input.membopt
		opacity: 1


/* Styles for the themes section.
------------------------------------------------- */
ul.theme_options
	margin, padding: 0
	li
		list-style: none
		padding: 0.4em

.is_directory
	padding-left: 18px
	background: url($images/admin/boards.gif) no-repeat

.edit_file
	width: 96%
	font-family: monospace
	margin-top: 1ex
	white-space: pre

dl.themes_list
	margin: 0
	dt
		margin-bottom: 3px
	dd
		font-style: italic
		white-space: nowrap


/* Styles for the registration center.
------------------------------------------------- */
.agreement, .reserved_names
	padding: 0

#agreement, #reserved
	width: 99%


/* Styles for the moderation center.
------------------------------------------------- */
#modcenter
	display: block
	width: 100%

.modblock_left
	width: 49%
	float: left
	clear: right
	margin: 0 0 1em 0

.modblock_right
	width: 49%
	float: right
	margin: 0 0 1em 0

.modbox
	height: 150px
	overflow: auto

ul.moderation_notes
	margin, padding: 0
	list-style: none
	overflow: auto
	height: 8.5em
	li
		padding: 4px 0 4px 4px
		border-bottom: 1px solid #cccccc

.notes
	margin: 0.5em 0

.post_note
	width: 85%


/* Styles for the error log.
------------------------------------------------- */
#error_log
	width: 100%
	td
		padding: 4px 8px
		line-height: 1.5
		hyphens: auto
		word-break: break-all
		img
			vertical-align: middle
	td.checkbox_column
		width: 15px
		vertical-align: top
	td div.marginleft
		margin: 0 0 0 1ex

#fileviewer
	font: 9pt/1.2 $mono_font
	box-sizing: border-box
	margin: -16px
	padding: 4px
	.tar1
		font-weight: 700
		border: 1px solid black
		border-right-width: 0
	.tar2
		border: 1px solid black
		border-left-width: 0

/* Styles for percentage selectors
------------------------------------------------- */
div.percent
	span
		padding: 0 .5em
	.container
		font-size: 8pt
		height: 12pt
		border: 1px solid black
		background-color: white
		padding: 1px
		position: relative
	.text
		padding_top: 1pt
		width: 100%
		z-index: 2
		color: black
		font-weight: 700
		position: absolute
		text-align: center
		cursor: default
	.progress
		height: 12pt
		z-index: 1
		background-color: #95a89d

/* Styles for the ban setup area.
------------------------------------------------- */
.ban_items, .ban_selector
	background: url($images/admin/ban_items.png) no-repeat
	width, height: 16px
	margin: 0 auto

.ban_selector mixes .inline-block
	margin-right: 3px
	vertical-align: -3px

.ban_items_id_member
	background-position: 0 0

.ban_items_member_name
	background-position: 0 -16px

.ban_items_email
	background-position: 0 -32px

.ban_items_ip_address
	background-position: 0 -48px

.ban_items_hostname
	background-position: 0 -64px

.ban_soft
	background-position: 0 -80px

.ban_hard
	background-position: 0 -96px

textarea.ban
	width: 300px
	height: 55px

.ban_criteria_ip_address
	.ban_width
		width: 40px
		margin-top: 5px

/* Styles for custom fields.
------------------------------------------------- */
.cf_items mixes .inline-block
	background: url($images/admin/field_types.png) no-repeat
	width, height: 16px
	margin: 0 3px 0 0
	vertical-align: -3px

.cf_text
	background-position: 0 0

.cf_textarea
	background-position: 0 -16px

.cf_select
	background-position: 0 -32px

.cf_radio
	background-position: 0 -48px

.cf_check
	background-position: 0 -64px

.cf_active
	color: green

.cf_active, .cf_inactive
	.icon mixes .inline-block
		background: url($images/admin/active.png)
		background-position: 0 0
		width, height: 16px
		margin: 0 3px 0 0
		vertical-align: -3px

.cf_inactive
	color: red
	.icon
		background-position: 0 -16px

/* Miscellaneous.
------------------------------------------------- */
#admin #main, #manage_boards, #manage_maintenance, #manage_mail
	& .wrc
		margin-bottom: 4px

// Profile fields
#regex_div
	font-family: $mono_font

.pretty_filter
	color: #888
	font-size: 0.9em
	padding: 0.5em 0 1em 3em

.pretty_prefix
	margin: 0 0 1em 3em

#helf
	#rules
		td.flag
			width: 30px
			vertical-align: top

#fs_langs
	dl.settings
		dt
			padding-left: 10px
			width: 15%
		dd
			width: 81%
			textarea
				width: 100%

$mono_font = Consolas, "Dejavu Sans Mono", Monaco, "Lucida Console", "Courier New", monospace
